# Local .gitignore for Codigo project
amb_virtual/
venv/
env/
.venv/

# Data and splits
data/
data/splits/
splits/

# Models and large binaries

*.h5
*.pb
*.pt
*.pth

# Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

